body{
    background-image: url(./public/Main.jpg);
    min-width: 1240px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}
.background{  
    width: 1120px;
    height: 860px;
    margin: 0 auto;
    margin-top: 32px;
    backdrop-filter: blur(50px);
}
.header{
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.search{
    width: 434px;
}
.input{
    width: 380px;
    border: none;
    border-radius: 8px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    outline: none;
    font-size: 20px;
}
.icon{
    position: relative;
    top: 8px;
    right: 40px;
}